<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">SERVICIO AL CLIENTE</h6>
        <ul class="footer-ul">
            {{for cont in contenidos:}}
          <li><a href="contenidos/contenido.html">{{=cont.f_nombre}}</a></li>
            {{pass}}
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">INFORMACION UTIL</h6>
        <ul class="footer-ul">
          <li><a href="#">Terminos y Condiciones</a></li>
          <li><a href="#">Politicas de provacidad</a></li>
          <li><a href="#">Politica de Cookies</a></li>
          <li><a href="#">Accesibilidad</a></li>  
          <li><a href="#">Metodos de Pago</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">ACERCA DE </h6>
        <ul class="footer-ul">
          <li><a href="#">Acerca de</a></li>
          <li><a href="#">Nuestros productos</a></li>
          <li><a href="#">Un poco de historia</a></li>
          <li><a href="#">Conviertete en afiliado</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">   SOCIAL MEDIA</h6>
        <ul class="footer-social">
          <li><i class="fab fa-linkedin-in fa-2x" style= "color: #abbdc9; margin-top:20px;"></i></li>
          <li><i class="fab fa-facebook-square fa-2x" style= "color: #abbdc9; margin-top:20px; margin-left: 15px;"></i></li>
          <li><i class="fab fa-twitter-square fa-2x" style= "color: #abbdc9; margin-top:20px; margin-left: 15px;"></i></li>
          <li><i class="fab fa-instagram fa-2x" style= "color: #abbdc9; margin-top:20px; margin-left: 15px;"></i></li>
        </ul>
      </div>
    </div>
  </div>
    <div class="copyright">
  <div class="container">
      <p>Copyright © PediaFabrica 2020 - Todos los derechos reservados.</p>
  </div>
</footer>
